.main{
    background-image: url('../assets/Rectangle 1.png'),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));;
    background-color: rgba(17, 17,17, 0.3);
    background-blend-mode: overlay;
    opacity: 8;
    height: 100vh;
}